<h1 id="profile-name"><%= user.name %></h1>
<p id="profile-username" class="text-muted">@<%= user.username %></p>
<nav class="nav profile-nav">
    <a class="nav-link" href="/profile/<%= user.username %>">Tweets</a>
    <a class="nav-link" href="/profile/<%= user.username %>/media">Media</a>
    <a class="nav-link" href="/profile/<%= user.username %>/videos">Videos</a>
</nav>