<div class="tweet card mb-3">
  <div class="card-body">
    <div class="d-flex align-items-center mb-2">
      <img src="https://unavatar.io/twitter/<%= tweetData.compte %>" alt="avatar" class="tweet-avatar rounded-circle me-3">
      <div class="tweet-user">
        <a href="/profile/<%= tweetData.compte %>" class="text-white text-decoration-none">
          <span class="name"><%= tweetData.compte %></span>
          <span class="username text-muted">@<%= tweetData.compte %></span>
        </a>
        <%- include(buttonPartial, { tweetData: tweetData }) %>
        <%- include('_tweet_favorite_buttons', { tweetData: tweetData }) %>
      </div>
    </div>
    <p class="card-text"><%- formatTweetText(tweetData.texte) %></p>
    <% if (tweetData.lien && tweetData.lien.length > 0) { %>
      <div class="tweet-link">
        <a href="<%= tweetData.lien %>" target="_blank" class="btn btn-sm btn-outline-info">View original tweet</a>
      </div>
    <% } %>
    <% if (tweetData.allMedia && tweetData.allMedia.length > 0) { %>
      <div class="tweet-media mt-3">
        <div class="row row-cols-<%= tweetData.allMedia.length > 1 ? 4 : 1 %> g-2 justify-content-center">
          <% tweetData.allMedia.forEach(mediaItem => { %>
            <div class="col">
              <% if (mediaItem.type === 'photo') { %>
                <img src="<%= mediaItem.lien %>" alt="tweet image" class="img-fluid rounded">
              <% } else if (mediaItem.type === 'video') { %>
                <video controls src="<%= mediaItem.lien %>" class="w-100 rounded"></video>
              <% } %>
            </div>
          <% }); %>
        </div>
      </div>
      
    <% } %>
  </div>
</div>