<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= user.name %>'s Media</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <%- include('partials/header') %>
  <div class="container-fluid">
    <div class="row">
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
        <%- include('partials/_profile_header_content', { user: user, pageTitle: user.name + '\'s Media' }) %>
        
        <div class="media-grid p-3">
          <% if (media && media.length > 0) { %>
            <% media.forEach(item => { %>
              <a href="/tweet/<%= item.tweetId %>" class="media-link">
                <% if (item.type === 'photo') { %>
                  <img src="<%= item.lien %>" alt="media image" class="img-fluid">
                <% } else if (item.type === 'video') { %>
                  <video controls src="<%= item.lien %>" class="w-100"></video>
                <% } %>
              </a>
            <% }); %>
          <% } else { %>
            <p class="text-center">No media found for this user.</p>
          <% } %>
        </div>
        <div class="pagination d-flex justify-content-center p-3">
          <% if (currentPage > 1) { %>
            <a href="/profile/<%= user.username %>/media?page=<%= currentPage - 1 %>" class="btn btn-primary">Previous</a>
          <% } %>
          <span class="mx-3">Page <%= currentPage %> of <%= totalPages %></span>
          <% if (currentPage < totalPages) { %>
            <a href="/profile/<%= user.username %>/media?page=<%= currentPage + 1 %>" class="btn btn-primary">Next</a>
          <% } %>
        </div>
      </main>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
