<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Profile</title>
    <link rel="icon" href="/public/images/profiles/<%= user.username %>.png" type="image/png" onerror="this.onerror=null;this.href='/public/images/default_profile.png';">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <%- include('partials/sidebar', { sidebarAccounts: topMentionedAccounts, favoriteAccounts: favoriteAccounts, searchQuery: '' }) %>
        <div class="main-content">
            <h1><%= user.username %>'s Profile</h1>
            <p><a href="/">Return to Homepage</a></p>
            <form action="/add_all_tweets_to_favorites/<%= user.username %>" method="post" style="display: inline;">
                <button type="submit">Add All Tweets to Favorites</button>
            </form>
            <form action="/add_all_media_tweets_to_favorites/<%= user.username %>" method="post" style="display: inline;">
                <button type="submit">Add All Media Tweets to Favorites</button>
            </form>
            <p>Total Tweets: <%= tweets.length %></p>
            <div class="profile-nav">
                <a href="/profile/<%= user.username %>">Tweets</a>
                <a href="/profile/<%= user.username %>/media">Media</a>
                <a href="/profile/<%= user.username %>/videos">Videos</a>
            </div>
            <h2>Tweets</h2>
            <!-- Search Form -->
            <div class="mb-4">
                <form action="/search" method="GET">
                    <div class="input-group">
                        <input type="text" name="query" class="form-control" placeholder="Search for tweets..." aria-label="Search for tweets" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div id="tweetListContainer">
                <%- include('partials/tweetList', { tweets: tweets, formatTweetText: formatTweetText }) %>
            </div>
            <%- include('partials/pagination', { currentPage: currentPage, totalPages: totalPages }) %>
        </div>
    </div>
</body>
</html>